footer {
    background-color: rgb(60, 69, 83);
}

footer .container p > i {
    color: rgb(147,149,156);
    padding: 7px 15px 0 0;
}

footer .container p {
    color: rgb(147,149,156);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

footer .container {
    padding: 85px 20px 40px 20px;
}

footer .container h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;
}
footer .container .row {
    padding-top: 50px;
}
footer .container .row i {
    color: rgb(147,149,156);
    font-size: 60px;
    padding-right: 25px;
}
footer .container .row i:hover {
    color: white;
}
.btn {
    max-height: 50px;
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}
@media(max-width: 375px) {
    .btn {
        margin-right: 15px;
        margin-bottom: 30px
    }
}