.skills-container {
    background-color: #f2f2f2;
    padding-bottom: 115px;
}
.skills-header {
    margin: 50px 0;
    max-width: 100%;
}
.backend-header {
    margin-bottom: 50px;
}
.frontend-header {
    margin: 75px 0;
}
.frontend img,
.backend img {
    margin-bottom: 25px;
}